<style>
    .f-info-links a{ text-decoration: none; color:#222222 ;}
.f-info-links a:hover{ text-decoration: underline; }
.f-info-links, .f-info-socials, .f-info-brand{width: 100%; display: flex; align-items:center ; justify-content: center;}

.f-info-socials i{margin-right:1rem ;font-size: 1.2rem;}
.f-info {text-align: center; height: 8rem; display:flex; background-color: #ebebed; flex-wrap: wrap; justify-content: center; align-items: space_evenly; }
</style>

<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand"> &copy; finance tracker private limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
